<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<!-- Bootstrap Packaged JS (Bundle) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<header> testing a ajax on user profile id 1</header>
</head>
<body>
<ul id="display-data">
</ul>
<script>
$(document).ready(function(){
    setInterval(function(){
        $.ajax({
            type:"GET",
            url: "{% url 'testing:ajaxtest' %}",
            success: function(response){
                console.log("data received")
                document.getElementById("display-data").innerHTML = response["aboutme"]
            },
            error: function(response){
                alert("Error occurred")
            }
        });
    }, 1000);
})
$(document).on('submit', '#formid',function(e){    
    e.preventDefault();
    $.ajax({
        type:"POST",
        url: "{% url 'testing:create_comment' %}",
        data: {
             content:$("#content").val(),
             post:$("#post").val(),
             csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function(response){
            console.log("request sent")
        },
        error: function(response){
            alert("Error occurred")
        }
    });
})
$(document).ready(function(){
    $("#createcomment").onclick(function(){    
        
            $.ajax({
                type:"POST",
                url: "{% url 'testing:create_comment' %}",
                data: {
                     content:$("#content").val(),
                     post:$("#post").val(),
                     csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function(response){
                    console.log("request sent")
                    alert(response)
                }
                
            });
            
    })
})
$(document).ready(function(){
    console.log("testing")
    $("#createcomment").click(function(){    
        
        console.log("testing")
            $.ajax({
                type:"POST",
                url: "{% url 'testing:create_comment' %}",
                data: {
                     content:$("#content").val(),
                     post:$("#post").val(),
                     csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function(response){
                    document.getElementById("formid").reset();
                    console.log("request sent")
                    alert(response)
                }
                
            });
            
    })
})
</script>
</body>
</html>