<!DOCTYPE html>
<html>
<head>
<script type="text/javascript">
    function message(){
        alert("hello to our javascript demo");
    }
    message()
    // testing a class
    function classtest(){
        this.x = 0;
        this.classfunction = function(){
            this.x +=1;
            console.log("the value of x : "+this.x);
        }
    }
</script>
<noscript>
    Your browser have disabled the javascript you can check it 
</noscript>
</head>
<body>
<p>
    this is a javascript page
</p>
</body>

</html>