<style>
   select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;       /* Remove default arrow */
      background-image: url(...);   /* Add custom arrow */
      background:#11C9EA;
      border:None;
      color:white;
   }
</style>
<div class >
 <form id="form-post" style="display:absolute;" onaction="{% url 'testing:createpost' %}" method="post" enctype="multipart/form-data">
     {% csrf_token %}
     <textarea id="text-content" rows="4" class = "tarea" placeholder="How do you feel ..?" name="text_content" val=""></textarea>
     <select id="who-can-see" class ="btn sm-btn btn-info" aria-label="who can see" name="who_can_see" required="true">
      <option value="followers">followers</option>
        <option value="public">public</option>  
      <option value="onlyme">only me</option>
      </select>
     <input id="who-can-see" type="hidden" name="post_location" value="profile"/>
    {{ formfile.file }}
    <input id="postsubmit" class ="btn btn-info" style="margin-left: 120px;" type="submit" value="Submit">
 </form>
</div>