<!DOCTYPE html>
<html>
<head>

<noscript>
    Your browser have disabled the javascript you can check it 
</noscript>
</head>
<body>
<p>
 <form onaction="{% url 'testing:createpost' %}" method="post" enctype="multipart/form-data">
     {% csrf_token %}
     <textarea name="text_content">
     </textarea>
     <select name="who_can_see" required="true">
        <option value="onlyme">only me</option>
        <option value="followers">followers</option>
        <option value="public">public</option>
      </select>
     <input type="hidden" name="post_location" value="profile"/>
        {{ form.file }}
    <input class = "inbutton"type="submit" value="Submit">
 </form>
</p>
</body>

</html>