<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
       {% csrf_token %}
         <input type="hidden" id ="userid" value="{{profile.user.id}}" />
        <title>Profile</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
      <link rel="icon" href="images/logo.png" type="image/icon type">
        <link rel="stylesheet" type="text/css" href="{% static 'css/prof.css'|safe %}">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static "images/profile/logo.png"|safe %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'css/sec.css'|safe %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script src="https://kit.fontawesome.com/c4254e24a8.js"
        crossorigin="anonymous"></script>
    
    </head><link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<header>
    <nav class="navo">
      <img id="logotop" src="{% static "images/profile/logo3.png"|safe %}">
      <input class="form-control" placeholder="Search" type="text" style="width:200px;">
          <!--   src="{% static profile.pfp.file_url|safe %}"  -->
      <a href="{% url 'autheno:home' %}">
        <i class="material-icons">
            home  </i>
    </a>
    <a href="">
        <i class="material-icons">
            chat </i>
    </a>
    <a href="">
        <i class="material-icons">
            group  </i>
    </a>
    <a href="{% url 'main:notifications' %}">
        <i class="material-icons">
            notifications </i>
    </a>
  
    <a href="{% url 'main:profile' user.id %}"> <img src="{% static user.profile.pfp.file_url|safe %}" class="k-img" alt="Profile"> </a>
    </nav>
  </header>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="tweet">
    {% include 'testing/post.html' %}
    </div>
    <hr>
    <br>
    {% for post in posts %}
    {% include 'main/post.html' %}
    {% endfor %}
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    {% comment %} $(document).on('submit', '#form-post',function(e){    
        e.preventDefault();
        $.ajax({
            type:"POST",
            url: "{% url 'testing:create_post' %}",
            data: {
                 content:$("#content").val(),
                 post:$("#post").val(),
                 csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(response){
                console.log("request sent")
            },
            error: function(response){
                alert("Error occurred")
            }
        });
    }) {% endcomment %}
    $("#form-post").submit(function(e) {
        e.preventDefault();    
        var formData = new FormData(this);
    
        $.ajax({
            url: "{% url 'testing:createpost' %}",
            type: 'POST',
            data: formData,
            success: function (data) {
                alert(data)
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });
</script>
<script>
    // script concerned with posts
    $(".like").click(function(){
      var fbtn = $(this);
      if (fbtn.hasClass('like')) {
        console.log("like")
        $.ajax({
          type:"POST",
          url: "{% url 'main:like_post' %}",
          data: {
               post_id:fbtn.val(),
               csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
          },
          success: function(response){
              console.log("request sent")
          }
      });
        fbtn.removeClass('like').addClass('unlike');
        fbtn.html('<span id="like{{post.id}}span" class="bi bi-hand-thumbs-up-fill" style="color:#11C9EA">');
        var element = document.getElementById("num"+fbtn.val())
        var oldvalue = parseInt(element.innerHTML)
        element.innerHTML = oldvalue + 1
      } else {
        console.log("unlike")
        $.ajax({
            type:"POST",
            url: "{% url 'main:remove_like_post' %}",
            data: {
                 post_id:fbtn.val(),
                 csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(response){
                console.log("friend request have been removed")
                fbtn.removeClass('unlike').addClass('like');
                fbtn.html('<span id="like{{post.id}}span" class="bi bi-hand-thumbs-up-fill" style="color:None">');
                var element = document.getElementById("num"+fbtn.val())
                var oldvalue = parseInt(element.innerHTML)
                console.log(oldvalue)
                element.innerHTML = oldvalue - 1
                
            }
        });
        
      }
  
    })
    $(".unlike").click(function(){
      var fbtn = $(this);
      if (fbtn.hasClass('unlike')) {
        console.log("unlike")
        $.ajax({
          type:"POST",
          url: "{% url 'main:remove_like_post' %}",
          data: {
               post_id:fbtn.val(),
               csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
          },
          success: function(response){
              console.log("request sent")
          }
      });
      fbtn.removeClass('unlike').addClass('like');
      fbtn.html('<span id="like{{post.id}}span" class="bi bi-hand-thumbs-up-fill" style="color:None">');
      var element = document.getElementById("num"+fbtn.val())
      var oldvalue = parseInt(element.innerHTML)
      console.log(oldvalue)
      element.innerHTML = oldvalue -1
      } else {
        console.log("unfriend")
        $.ajax({
            type:"POST",
            url: "{% url 'main:like_post' %}",
            data: {
                 post_id:fbtn.val(),
                 csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(response){
              fbtn.removeClass('like').addClass('unlike');
              fbtn.html('<span id="like{{post.id}}span" class="bi bi-hand-thumbs-up-fill" style="color:#11C9EA">');
              var element = document.getElementById("num"+fbtn.val())
              var oldvalue = parseInt(element.innerHTML)
              console.log(oldvalue)
              element.innerHTML = oldvalue + 1
            }
        });
        
      }
  
    })
  </script>
</html>