<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: auto;
      text-align: center;
      font-family: arial;
    }
    
    .title {
      color: grey;
      font-size: 18px;
    }
    
    button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }
    
    a {
      text-decoration: none;
      font-size: 22px;
      color: black;
    }
    
    button:hover, a:hover {
      opacity: 0.7;
    }
    </style>
    </head>
<button> Home Page coming up </button>
<p> your name : {{user.user_name}} </p>
<p> your id : {{user.id}} </p>
<p> check your profile <a href ="{% url 'main:profile' user.id %}">go to your profile</a> </p>
<script id="thisscript">

  $(document).ready(function(){
   work();
  })
  function work(){
    toastr.options = {
      "closeButton": true,
      "debug": true,
      "newestOnTop": false,
      "progressBar": true,
      "positionClass": "toast-top-right",
      "preventDuplicates": false,
      "showDuration": "300",
      "hideDuration": "1000000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
      }
      $("#form-post").submit(function(e) {
        e.preventDefault();    
        var formData = new FormData(this);
        if($("#text-content").val()!=""){
          $.ajax({
            url: "{% url 'testing:createpost' %}",
            type: 'POST',
            data: formData,
            success: function (data) {
              toastr["success"]("Posted Successfully");
              var feeds = document.getElementById("feeds")
              document.getElementById("form-post").reset();
              $("#feeds").prepend(data["newpost"])
              //work(); // this is causing the multi post problem when submit
              var script= document.createElement('script');
              var elementoldscript = document.getElementById("thisscript")
              script.innerHTML= elementoldscript.innerHTML;
              script.id ="thisscript"
              // adding the new script element
              
              elementoldscript.parentNode.removeChild(elementoldscript);
            },
            cache: false,
            contentType: false,
            processData: false
        });
        }else{
          toastr["error"]("Posting Failed Empty Post");
        }  
    });  
    
    // script concerned with posts
    $(".like").click(function(){
      var fbtn = $(this);
      if (fbtn.hasClass('like')) {
        console.log("like")
        $.ajax({
          type:"POST",
          url: "{% url 'main:like_post' %}",
          data: {
               post_id:fbtn.val(),
               csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
          },
          success: function(response){
              console.log("request sent")
          }
      });
        fbtn.removeClass('like').addClass('unlike');
        fbtn.html('<span id="like{{post.id}}span" class="bi bi-hand-thumbs-up-fill" style="color:#11C9EA">');
        var element = document.getElementById("num"+fbtn.val())
        var oldvalue = parseInt(element.innerHTML)
        element.innerHTML = oldvalue + 1
      } else {
        console.log("unlike")
        $.ajax({
            type:"POST",
            url: "{% url 'main:remove_like_post' %}",
            data: {
                 post_id:fbtn.val(),
                 csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(response){
                console.log("friend request have been removed")
                fbtn.removeClass('unlike').addClass('like');
                fbtn.html('<span id="like{{post.id}}span" class="bi bi-hand-thumbs-up-fill" style="color:None">');
                var element = document.getElementById("num"+fbtn.val())
                var oldvalue = parseInt(element.innerHTML)
                console.log(oldvalue)
                element.innerHTML = oldvalue - 1
                
            }
        });
        
      }
  
    })
    $(".unlike").click(function(){
      var fbtn = $(this);
      if (fbtn.hasClass('unlike')) {
        console.log("unlike")
        $.ajax({
          type:"POST",
          url: "{% url 'main:remove_like_post' %}",
          data: {
               post_id:fbtn.val(),
               csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
          },
          success: function(response){
              console.log("request sent")
          }
      });
      fbtn.removeClass('unlike').addClass('like');
      fbtn.html('<span id="like{{post.id}}span" class="bi bi-hand-thumbs-up-fill" style="color:None">');
      var element = document.getElementById("num"+fbtn.val())
      var oldvalue = parseInt(element.innerHTML)
      console.log(oldvalue)
      element.innerHTML = oldvalue -1
      } else {
        console.log("unfriend")
        $.ajax({
            type:"POST",
            url: "{% url 'main:like_post' %}",
            data: {
                 post_id:fbtn.val(),
                 csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(response){
              fbtn.removeClass('like').addClass('unlike');
              fbtn.html('<span id="like{{post.id}}span" class="bi bi-hand-thumbs-up-fill" style="color:#11C9EA">');
              var element = document.getElementById("num"+fbtn.val())
              var oldvalue = parseInt(element.innerHTML)
              console.log(oldvalue)
              element.innerHTML = oldvalue + 1
            }
        });
      
      }
  
    })

    $(".delete").click(function(){
      console.log("is called delete")
      var fbtn = $(this);
      $(fbtn).click(function(){
          console.log("remove-post ajax called")
          $.ajax({
            type:"POST",
            url: "{% url 'main:remove-post' %}",
            data: {
                 post_id:fbtn.val(),
                 csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(response){
                console.log("remove post request"+fbtn.val())
                var element = document.getElementById("post-container"+fbtn.val())
                var elementfooter = document.getElementById("post-footer"+fbtn.val())
                var elementclose = document.getElementById("close-"+fbtn.val())
                elementclose.click()
                element.parentNode.removeChild(element);
                elementfooter.parentNode.removeChild(elementfooter)
            }
          });
        });
    });
   return false
  }
  //Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
  </script>