<!DOCTYPE html>
<html lang="en">
    <head>
       {% load static %}
       {% csrf_token %}
         <input type="hidden" id ="userid" value="{{profile.user.id}}" />
        <title>Home</title>
        <!-- the this section is concerned with posts-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- the this section is concerned with posts end-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
      <link rel="icon" href="images/logo.png" type="image/icon type">
        <link rel="stylesheet" type="text/css" href="{% static 'css/prof.css'|safe %}">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static "images/profile/logo.png"|safe %}" type="image/x-icon">
        {% comment %} <link rel="stylesheet" href="{% static 'css/sec.css'|safe %}"> {% endcomment %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script src="https://kit.fontawesome.com/c4254e24a8.js"crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    </head>
<header>
    <nav class="navo">
      <img id="logotop"  src="{% static "images/profile/logo3.png"|safe %}">
      <input class="form-control" placeholder="Search" type="text" style="width:200px;">
          <!--   src="{% static profile.pfp.file_url|safe %}"  -->
      <a href="{% url 'autheno:home' %}">
        <i class="material-icons" >
            home  </i>
    </a>
    <a href="">
        <i class="material-icons">
            chat </i>
    </a>
    <a href="">
        <i class="material-icons">
            group  </i>
    </a>
    <a href="{% url 'main:notifications' %}">
        <i class="material-icons">
          notifications </i>
    </a>
  
    <a href="{% url 'main:profile' user.id %}"> <img src="{% static user.profile.pfp.file_url|safe %}" class="k-img" alt="Profile"> </a>
    </nav>
  </header>
 
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="tweet">
    {% include 'testing/post.html' %}
    </div>
    <hr>
    <br>
    <div id="feeds">
    {% for post in posts %}
    {% include 'main/post.html' %}
    {% endfor %}
    </div>
      
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
<script>
  $(document).ready(function(){
    work();
    $("#form-post").submit(function(e) {
      e.preventDefault();    
      var formData = new FormData(this);
      if($("#text-content").val()!=""){
        $.ajax({
          url: "{% url 'testing:createpost' %}",
          type: 'POST',
          data: formData,
          success: function (data) {
            toastr["success"]("Posted Successfully");
            var feeds = document.getElementById("feeds")
            document.getElementById("form-post").reset();
            $("#feeds").prepend(data["newpost"])
            //work(); // this is causing the multi post problem when submit
          },
          cache: false,
          contentType: false,
          processData: false
      });
      }else{
        toastr["error"]("Posting Failed Empty Post");
      }  
  });

  })
  function work(){
    toastr.options = {
      "closeButton": true,
      "debug": true,
      "newestOnTop": false,
      "progressBar": true,
      "positionClass": "toast-top-right",
      "preventDuplicates": false,
      "showDuration": "300",
      "hideDuration": "1000000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
      }
    
    
    // script concerned with posts
    $(".like").click(function(){
      var fbtn = $(this);
      if (fbtn.hasClass('like')) {
        console.log("like")
        $.ajax({
          type:"POST",
          url: "{% url 'main:like_post' %}",
          data: {
               post_id:fbtn.val(),
               csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
          },
          success: function(response){
              console.log("request sent")
          }
      });
        fbtn.removeClass('like').addClass('unlike');
        fbtn.html('<span id="like{{post.id}}span" class="bi bi-hand-thumbs-up-fill" style="color:#11C9EA">');
        var element = document.getElementById("num"+fbtn.val())
        var oldvalue = parseInt(element.innerHTML)
        element.innerHTML = oldvalue + 1
      } else {
        console.log("unlike")
        $.ajax({
            type:"POST",
            url: "{% url 'main:remove_like_post' %}",
            data: {
                 post_id:fbtn.val(),
                 csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(response){
                console.log("friend request have been removed")
                fbtn.removeClass('unlike').addClass('like');
                fbtn.html('<span id="like{{post.id}}span" class="bi bi-hand-thumbs-up-fill" style="color:None">');
                var element = document.getElementById("num"+fbtn.val())
                var oldvalue = parseInt(element.innerHTML)
                console.log(oldvalue)
                element.innerHTML = oldvalue - 1
                
            }
        });
        
      }
  
    })
    $(".unlike").click(function(){
      var fbtn = $(this);
      if (fbtn.hasClass('unlike')) {
        console.log("unlike")
        $.ajax({
          type:"POST",
          url: "{% url 'main:remove_like_post' %}",
          data: {
               post_id:fbtn.val(),
               csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
          },
          success: function(response){
              console.log("request sent")
          }
      });
      fbtn.removeClass('unlike').addClass('like');
      fbtn.html('<span id="like{{post.id}}span" class="bi bi-hand-thumbs-up-fill" style="color:None">');
      var element = document.getElementById("num"+fbtn.val())
      var oldvalue = parseInt(element.innerHTML)
      console.log(oldvalue)
      element.innerHTML = oldvalue -1
      } else {
        console.log("unfriend")
        $.ajax({
            type:"POST",
            url: "{% url 'main:like_post' %}",
            data: {
                 post_id:fbtn.val(),
                 csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(response){
              fbtn.removeClass('like').addClass('unlike');
              fbtn.html('<span id="like{{post.id}}span" class="bi bi-hand-thumbs-up-fill" style="color:#11C9EA">');
              var element = document.getElementById("num"+fbtn.val())
              var oldvalue = parseInt(element.innerHTML)
              console.log(oldvalue)
              element.innerHTML = oldvalue + 1
            }
        });
      
      }
  
    })

    $(".delete").click(function(){
      console.log("is called delete")
      var fbtn = $(this);
      $(fbtn).click(function(){
          console.log("remove-post ajax called")
          $.ajax({
            type:"POST",
            url: "{% url 'main:remove-post' %}",
            data: {
                 post_id:fbtn.val(),
                 csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(response){
                console.log("remove post request"+fbtn.val())
                var element = document.getElementById("post-container"+fbtn.val())
                var elementfooter = document.getElementById("post-footer"+fbtn.val())
                var elementclose = document.getElementById("close-"+fbtn.val())
                elementclose.click()
                element.parentNode.removeChild(element);
                elementfooter.parentNode.removeChild(elementfooter)
            }
          });
        });
    });
     
    
  }
</script>
<script>
  
  </script>
</html>