<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  	   {% load static %}
       {% csrf_token %}
	   {% load post_tags %}
	<title>Chats</title>
  <link rel="icon" href="images/logo.png" type="image/icon type">
  <link rel="stylesheet" type="text/css" href="{% static 'css/profyd.css'|safe %}">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="./logo/logo.png" type="image/x-icon">
    <!--<link rel="stylesheet" href="{% static 'css/style.css' %}">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://kit.fontawesome.com/c4254e24a8.js"
    crossorigin="anonymous"></script>
</head><link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<style>
	.notification-badge {
	  position:relative;
	  padding:5px 9px;
	  background-color: #11CDEF;
	  color: #F8F9FE; 
	  bottom: 15px;
	  left: 15px;
	  border-radius: 50%;
	}
	.material-icons:hover{
	  color:#11CDEF;
	}
  </style>
<header>
    <nav class="navo">
      <img id="logotop"  src="{% static "images/profile/logo3.png"|safe %}">
      <input class="form-control" placeholder="Search" type="text" style="width:200px;">
          <!--   src="{% static profile.pfp.file_url|safe %}"  -->
      <a href="{% url 'autheno:home' %}">
        <i class="material-icons" >
            home  </i>
    </a>
    <a href="{% url 'chat:chat' %}">
        <i class="material-icons">
            chat </i>
    </a>
    <a href="">
        <i class="material-icons">
            group  </i>
    </a>
    <a href="{% url 'main:notifications' %}">
       {% if user.get_notif_num > 0%}
       <i class="material-icons">
        notifications</i><small class="notification-badge" id="notifnum" style="visibility:visible;">{{user.get_notif_num}}</small>
       {% else %}
       <i class="material-icons">
        notifications</i><small class="notification-badge" id="notifnum" style="visibility:hidden;">{{user.get_notif_num}}</small>
       {% endif %}
    </a>
  
    <a href="{% url 'main:profile' user.id %}"> <img src="{% static user.profile.pfp.file_url|safe %}" class="k-img" alt="Profile"> </a>
    </nav>
  </header>
 <style>
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #11CDEF;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
 </style>
<!--.................................................-->
<hr><br>
<link rel="stylesheet" type="text/css" href="{% static 'css/chat.css'%}">
<body>
	<input type="hidden" id= "meid" value="{{user.id}}"/>
<div id="container">
	<aside>
		<header>
			<input type="text" id ="searchbar" placeholder="search" onkeyup="search_chat()">
		</header>
		<ul id="list">
			{% for thread in user.get_user_threads %} <!--the thread otheruser id is the particpant id-->
			 {% get_thread_other_user thread.id user.id as get_other_user%}
			<li class="chatlist" id="chatlist{{get_other_user.id}}" value="{{thread.id}}">
				<a href="{% url 'main:profile' thread.get_other_user.user.id %}"><img src="{% static get_other_user.user.profile.pfp.file_url|safe %}" style="border-radius: 10%;width: 20%; height: 20%;"> </a>
				<div>
					<h2>{{get_other_user.user.user_name}}</h2>
					<input type="hidden" class="partics" id="partic{{get_other_user.id}}" value="{{get_other_user.id}}"/>
					<input type="hidden" class="particsthread" id="partic{{thread.id}}" value="{{thread.id}}"/>
					<h3>
						<span class="status orange"></span>
						<!--offline-->
					</h3>
				</div>
			</li>
			{% endfor %}
		</ul>
		<script src="{% static 'css/chat.js' %}"></script>

	</aside>
	{% comment %} <span id="main"> {% endcomment %}
		{% for thread in user.get_user_threads %}
		{% get_thread_other_user thread.id user.id as get_other_user%}
		{% if forloop.first %}
		<main class = "mainchat d-none" id="mainchat{{thread.id}}" value="{{thread.id}}">
		{% else %}
		<main class = "mainchat d-none" id="mainchat{{thread.id}}" value="{{thread.id}}">
		{% endif %}
		<header>
			<a href="{% url 'main:profile' get_other_user.user.id %}"><img src="{% static get_other_user.user.profile.pfp.file_url|safe %}" style="border-radius: 10%;width: 20%; height: 20%;"> </a>
			<div>
				
				<h2 class="" id="mainchatname">{{get_other_user.user.user_name}}</h2>
				<input type="hidden" value=""/>
			</div>
		</header>



<!--conversation-->
		
		<ul class="msg_card_body{{thread.id}}" id="chat">
		 {% for message in thread.get_messages %}
		 {% is_message_owner message user.id as is_ownerr %}
		 {% if is_ownerr %}
			<li class="me">
				<div class="entete">
					<span class="status green"></span>
					
					<h3> {{message.get_time}}</h3>
				</div>
				<div class="triangle"></div>
				<div class="message">
					{{message.content}}
				</div>
			</li>
		{% else %}
			<li class="you">
				<div class="entete">
					<h3>{{message.get_time}}</h3>
					<span class="status blue"></span>
				</div>
				<div class="triangle"></div>
				<div class="message">
					{{message.content}}
				</div>
			</li>
		{% endif %}
		{% endfor %}
		</ul>
		<footer>
			<div><textarea class="input-message" id="input-message{{thread.id}}" placeholder="Type your message"></textarea>
			<!--<a href="#">Send</a>-->
			<button class="sendmessage" id="sendmessage{{thread.id}}" value="{{thread.id}}"><i class="material-icons" id="sendicon">send</i></button>
		</div>
			<button ><i class="material-icons" id="atic">attachment</i></button>


		</footer>
	</main>
	{% endfor %}
	{% comment %} </span> {% endcomment %}
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
	// doing the ajax and js here\
	var currentthread;
    let loc = window.location;
    let wstart = "ws://";
	//let input_message = $('#input-message');
	var message_body = $('.msg_card_body');
	let send_message = $('.sendmessage');
	let userid = $("#meid").val();
    //let endpoint = wstart + loc.host + loc.pathname;
    if(loc.protocol === "https"){
        wstart = 'wss://';
    }
    let endpoint = wstart + loc.host + loc.pathname;
    var socket = new WebSocket(endpoint)
    socket.onopen = async function(e){
		socket.send(JSON.stringify({"userid": userid }));
        console.log('open', e)
    }
    socket.onmessage = async function(e){
        console.log('message', e)
		// working on the message
		let data = JSON.parse(e.data)
		let message = data["message"]
		let me = data["me"]
		let threadiid = data["threadiid"]
		newmessage(message, me, threadiid)
    }
    socket.onerror = async function(e){
        console.log('error', e)
    }
    socket.onclose = async function(e){
        console.log('close', e)
    }
    // working on messages
	
	
	function newmessage(message, me, threadiid){
		message_body = $(".msg_card_body"+threadiid)
		if($.trim(message) === ""){
			return false;
		}
		console.log(me)
		var message_element = '\<li class=\"you\"\>\<div class=\"entete\"\>\<h3\>date \</h3\>\<span class=\"status blue\"></span\>\</div\>\<div class=\"triangle\"\>\</div\>\<div class=\"message\"\>'+message+'\</div\>\</li\>'
		if(me==userid){
			var message_element = '\<li class=\"me\"\>\<div class=\"entete\"\>\<h3\>date \</h3\>\<span class=\"status blue\"></span\>\</div\>\<div class=\"triangle\"\>\</div\>\<div class=\"message\"\>'+message+'\</div\>\</li\>'
		}else{
			
		}
		message_body.append( message_element)
		//message_body.animate({
		//	scrollUp:$(document).height()
		//}, 100) // speed 100
		//input_message.val(null)
		message_body.scrollTop(message_body.prop('scrollHeight'))
	}
 
	send_message.on("click", function(e){
		e.preventDefault();	
		var fbtn = $(this);
		threadid = fbtn.val();
		let message = $("#input-message"+fbtn.val()).val();
		let data = {
			"message":message,
			"senderid":userid,
			"threadid":threadid
		}
		data = JSON.stringify(data);
		socket.send(data);
		$("#input-message"+fbtn.val()).val(null);
	})
	// working on the chat to make it clickable
	$(".chatlist").on("click", function(e){
		// doing what will happen when clicked
		var fbtn = $(this); // getting the user that have been clicked
		// now removing the old chat displayed and displaying the new one 
		console.log(fbtn.val())
		$(".active").removeClass("active").addClass("d-none")
		$("#mainchat"+fbtn.val()).removeClass("d-none").addClass("active")
		currentthread = fbtn.val()
		$(".msg_card_body"+fbtn.val()).scrollTop($(".msg_card_body"+fbtn.val()).prop('scrollHeight'))
	});
	{% comment %} $(document).ready(function(){
		setInterval(function(){
		  var element = document.getElementById("notifnum")
		  var oldvalue = parseInt(element.innerHTML)
		  $.ajax({
			type:"POST",
			url: '/main/is_there_notifications',
			data: {
				 notifnum:oldvalue,
				 csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
			},
			success: function(response){
			  if(response.hasOwnProperty('notifnum')){
				//toastr["success"]("New notification")
				element.innerHTML = response["notifnum"]
				element.style.visibility = 'visible';
			  }else{
				element.style.visibility = 'hidden';
				console.log("server responded Nothing new")
			  }
			  
			}
		});
		}, 1000);
	   }) {% endcomment %}
</script>
-->