<!DOCTYPE html>
<html>
<head>
	{% load static %}
   {% csrf_token %}
   {% load post_tags %}
	 <input type="hidden" id ="userid" value="{{profile.user.id}}" />
	<title>Post</title>
  <!-- the this section is concerned with posts-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- the this section is concerned with posts end-->
  <!-- this link if for importing icons for the post-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="icon" href="images/logo.png" type="image/icon type">
	<link rel="stylesheet" type="text/css" href="{% static 'css/prof.css'|safe %}">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="{% static "images/profile/logo.png"|safe %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/sec.css'|safe %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://kit.fontawesome.com/c4254e24a8.js"
    crossorigin="anonymous"></script>
<!-- things concerned with the post-->
<style>
  .ico{
  content: '';
  display: block;
  height: 40px;  /*height of icon */
  width: 40px;  /*width of icon */
  position: absolute;
    /*where to replace the icon */
  top: 0px;
  left: -40px;
    /*background */
  background: #F8E6AE {% static "images/like.png"%} no-repeat 0px 0px;
}
/*fixs page shifting to the left */
.modal {
  overflow-y: auto;
 }
 
 .modal-open {
  overflow: auto;
 }
 #myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #11CDEF;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
</style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head><link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<header>
  <nav class="navo">
    <img id="logotop" src="{% static "images/profile/logo3.png"|safe %}">
    <input class="form-control" placeholder="Search" type="text" style="width:200px;">
		<!--   src="{% static profile.pfp.file_url|safe %}"  -->
    <a href="{% url 'autheno:home' %}">
      <i class="material-icons">
          home  </i>
  </a>
  <a href="">
      <i class="material-icons">
          chat </i>
  </a>
  <a href="">
      <i class="material-icons">
          group  </i>
  </a>
  <a href="{% url 'main:notifications' %}">
      <i class="material-icons">
          notifications </i>
  </a>
  <a href="{% url 'main:profile' user.id %}"> <img src="{% static user.profile.pfp.file_url|safe %}" class="k-img" alt="Profile"> </a>
  <div><button type="button" class="btn btn-info" style="width:20px; margin:0; padding: 0;border: none;background: none;" onclick="location.href = '{% url 'autheno:logout'%}'"><i class="fa fa-sign-out"></i></button></div>
  
  </nav>
 
</header>

<body>
  
  <div>
    <ul class="navbar-nav align-items-center d-none d-md-flex">
      <li class="nav-item dropdown">
        <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="media align-items-center">

        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
          <div class=" dropdown-header noti-title">
            <h6 class="text-overflow m-0">Welcome!</h6>
          </div>
          <a href="../examples/profile.html" class="dropdown-item">
            <i class="ni ni-single-02"></i>
            <span>My profile</span>
          </a>
          <a href="../examples/profile.html" class="dropdown-item">
            <i class="ni ni-settings-gear-65"></i>
            <span>Settings</span>
          </a>
          <a href="../examples/profile.html" class="dropdown-item">
            <i class="ni ni-calendar-grid-58"></i>
            <span>Activity</span>
          </a>
          <a href="../examples/profile.html" class="dropdown-item">
            <i class="ni ni-support-16"></i>
            <span>Support</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#!" class="dropdown-item">
            <i class="ni ni-user-run"></i>
            <span>Logout</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
    <!-- Header -->
    <br>
    <br>
    <br>
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 120px;  background-image: url({% static  profile.pfpback.file_url|safe %}); background-size: 70%; background-repeat: no-repeat; background-position: center top;">
      <!-- Mask -->
       <span class="mask bg-gradient-default" style="opacity:0.5;"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">

           <!-- <a href="edit.html" class="btn btn-info">Edit profile</a>-->
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-info" type = "button" onclick="history.back()">Back</button>
    <!-- Page content -->
    {% comment %} <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <!-- /static/files/1/profile/2dAnimator3.gif -->
                    <img  src="{% static profile.pfp.file_url|safe %}" class="rounded-circle">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <div class="d-flex justify-content-between">
		<div style = "airflow:absolute;"> {% endcomment %}
    {% is_blockr viewer user.id as is_blocker %}
		
							

                    <div class="col-lg-4">

                    </div>
                  </div>
                </div>
                <br>
                <hr class="my-4">
                <!-- Description -->
             
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% comment %} <div class="tweet">
    <label>Add Post</label>
    <textarea rows="4" class="tarea" placeholder="How do you feel ..?" ></textarea>
    <br>
    <img src="images/photo.png"> &nbsp; </a><input type="file" id="myFile" name="filename" class="btn btn-sm btn-info mr-4"></a>

    <a href="#" class="btn btn-sm btn-info mr-4">Post</a>
  </div> {% endcomment %}
<br>
<br>
<br>
<br>


		 <!--thi is the post -->
     <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
  {% include 'main/post.html' %}
   <!-- comments section -->
  <div id="comments">
    {% for comment in post.get_comments %}
    {% include 'main/comment.html' %}
    {% endfor %}
  
  <div>
    <form class = "post-container" id="formid" method="post" >
      {% csrf_token %}
      <textarea class="tarea" name="content" placeholder="Engage with the Post" id="content"></textarea>
      <input type="hidden" name="post" id="post" value="{{post.id}}">
     <button type="button" class="btn btn-info" id="createcomment" style="float: right;">comment</button>
  </form>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  

</script>

<script>
  // getting new comments commentnumber
  $(document).ready(function(){
    setInterval(function(){
      var element = document.getElementById("commentnumber")
      var oldvalue = parseInt(element.innerHTML)
      $.ajax({
        type:"POST",
        url: "{% url 'main:new_comments' %}",
        data: {
             comment_num:oldvalue,
             post_id: $("#postid").val(),
             csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function(response){
          if(response.hasOwnProperty('newcomment')){
            console.log("server responded")
            toastr["success"]("New Comment on the Post");
            //$("#comments").append(response["newcomment"])
            $(response["newcomment"]).insertBefore('#formid');
            element.innerHTML = response["newcommentnumber"]
          }else{
            console.log("server responded Nothing new")
          }
          
        }
    });
    }, 1000);
})
  // comment liking
    $(document).on("click",".clike",function(){
      var fbtn = $(this);
      if (fbtn.hasClass('clike')) {
        console.log("clike")
        $.ajax({
          type:"POST",
          url: "{% url 'main:like_comment' %}",
          data: {
               comment_id:fbtn.val(),
               csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
          },
          success: function(response){
              console.log("request sent")
          }
      });
        fbtn.removeClass('clike').addClass('cunlike');
        fbtn.html('<span id="like{{comment.id}}span" class="bi bi-hand-thumbs-up-fill" style="color:#11C9EA">');
        var element = document.getElementById("num"+fbtn.val())
        var oldvalue = parseInt(element.innerHTML)
        element.innerHTML = oldvalue + 1
      } else {
        console.log("cunlike")
        $.ajax({
            type:"POST",
            url: "{% url 'main:remove_like_comment' %}",
            data: {
                 comment_id:fbtn.val(),
                 csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(response){
                console.log("friend request have been removed")
                fbtn.removeClass('cunlike').addClass('clike');
                fbtn.html('<span id="like{{comment.id}}span" class="bi bi-hand-thumbs-up-fill" style="color:None">');
                var element = document.getElementById("num"+fbtn.val())
                var oldvalue = parseInt(element.innerHTML)
                console.log(oldvalue)
                element.innerHTML = oldvalue - 1
                
            }
        });
        
      }
  
    })
    $(document).on("click",".cunlike",function(){
      var fbtn = $(this);
      if (fbtn.hasClass('cunlike')) {
        console.log("cunlike")
        $.ajax({
          type:"POST",
          url: "{% url 'main:remove_like_comment' %}",
          data: {
               comment_id:fbtn.val(),
               csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
          },
          success: function(response){
              console.log("request sent")
          }
      });
      fbtn.removeClass('cunlike').addClass('clike');
      fbtn.html('<span id="like{{post.id}}span" class="bi bi-hand-thumbs-up-fill" style="color:None">');
      var element = document.getElementById("num"+fbtn.val())
      var oldvalue = parseInt(element.innerHTML)
      console.log(oldvalue)
      element.innerHTML = oldvalue -1
      } else {
        console.log("like")
        $.ajax({
            type:"POST",
            url: "{% url 'main:like_comment' %}",
            data: {
                 comment_id:fbtn.val(),
                 csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(response){
              fbtn.removeClass('clike').addClass('cunlike');
              fbtn.html('<span id="like{{post.id}}span" class="bi bi-hand-thumbs-up-fill" style="color:#11C9EA">');
              var element = document.getElementById("num"+fbtn.val())
              var oldvalue = parseInt(element.innerHTML)
              console.log(oldvalue)
              element.innerHTML = oldvalue + 1
            }
        });
        
      }
  
    });
 



  // end comment liking

  // auto increment when commenting
  {% comment %} $("#form-post").submit(function(e) {
    e.preventDefault();    
    var formData = new FormData(this);
    if($("#text-content").val()!=""){
      $.ajax({
        url: "{% url 'testing:createpost' %}",
        type: 'POST',
        data: formData,
        success: function (data) {
          toastr["success"]("Posted Successfully");
          var feeds = document.getElementById("feeds")
          document.getElementById("form-post").reset();
          $("#feeds").prepend(data["newpost"])
          //work(); // this is causing the multi post problem when submit
        },
        cache: false,
        contentType: false,
        processData: false
    });
    }else{
      toastr["error"]("Posting Failed Empty Post");
    }  
}); {% endcomment %}
  // script concerned with posts
  $(document).on("click",".delete" ,function(){
    console.log("is called delete")
    var fbtn = $(this);
    $(fbtn).click(function(){
        console.log("remove-post ajax called")
        $.ajax({
          type:"POST",
          url: "{% url 'main:remove-post' %}",
          data: {
               post_id:fbtn.val(),
               csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
          },
          success: function(response){
              console.log("remove post request"+fbtn.val())
              var element = document.getElementById("post-container"+fbtn.val())
              var elementfooter = document.getElementById("post-footer"+fbtn.val())
              var elementclose = document.getElementById("close-"+fbtn.val())
              elementclose.click()
              element.parentNode.removeChild(element);
              elementfooter.parentNode.removeChild(elementfooter)
          }
        });
      });
  });
  $(document).on("click",".deletecomment",function(){
    console.log("is called delete comment")
    var fbtn = $(this);
    $(fbtn).click(function(){
        console.log("remove-post ajax called")
        $.ajax({
          type:"POST",
          url: "{% url 'main:remove-comment' %}",
          data: {
               comment_id:fbtn.val(),
               csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
          },
          success: function(response){
              console.log("remove post request"+fbtn.val())
              var element = document.getElementById("comment-container"+fbtn.val())
              var elementfooter = document.getElementById("comment-footer"+fbtn.val())
              var elementclose = document.getElementById("close-"+fbtn.val())
              elementclose.click()
              element.parentNode.removeChild(element);
              elementfooter.parentNode.removeChild(elementfooter)
              var elementcommentnumber = document.getElementById("commentnumber")
              elementcommentnumber.innerHTML = parseInt(elementcommentnumber.innerHTML) - 1
          }
        });
      });
  });
  $(".like").click(function(){
    var fbtn = $(this);
    if (fbtn.hasClass('like')) {
      console.log("like")
      $.ajax({
        type:"POST",
        url: "{% url 'main:like_post' %}",
        data: {
             post_id:fbtn.val(),
             csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function(response){
            console.log("request sent")
        }
    });
      fbtn.removeClass('like').addClass('unlike');
      fbtn.html('<span id="like{{post.id}}span" class="bi bi-hand-thumbs-up-fill" style="color:#11C9EA">');
      var element = document.getElementById("num"+fbtn.val())
      var oldvalue = parseInt(element.innerHTML)
      element.innerHTML = oldvalue + 1
    } else {
      console.log("unlike")
      $.ajax({
          type:"POST",
          url: "{% url 'main:remove_like_post' %}",
          data: {
               post_id:fbtn.val(),
               csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
          },
          success: function(response){
              console.log("friend request have been removed")
              fbtn.removeClass('unlike').addClass('like');
              fbtn.html('<span id="like{{post.id}}span" class="bi bi-hand-thumbs-up-fill" style="color:None">');
              var element = document.getElementById("num"+fbtn.val())
              var oldvalue = parseInt(element.innerHTML)
              console.log(oldvalue)
              element.innerHTML = oldvalue - 1
              
          }
      });
      
    }

  })
  $(".unlike").click(function(){
    var fbtn = $(this);
    if (fbtn.hasClass('unlike')) {
      console.log("unlike")
      $.ajax({
        type:"POST",
        url: "{% url 'main:remove_like_post' %}",
        data: {
             post_id:fbtn.val(),
             csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function(response){
            console.log("request sent")
        }
    });
    fbtn.removeClass('unlike').addClass('like');
    fbtn.html('<span id="like{{post.id}}span" class="bi bi-hand-thumbs-up-fill" style="color:None">');
    var element = document.getElementById("num"+fbtn.val())
    var oldvalue = parseInt(element.innerHTML)
    console.log(oldvalue)
    element.innerHTML = oldvalue -1
    } else {
      console.log("unfriend")
      $.ajax({
          type:"POST",
          url: "{% url 'main:like_post' %}",
          data: {
               post_id:fbtn.val(),
               csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
          },
          success: function(response){
            fbtn.removeClass('like').addClass('unlike');
            fbtn.html('<span id="like{{post.id}}span" class="bi bi-hand-thumbs-up-fill" style="color:#11C9EA">');
            var element = document.getElementById("num"+fbtn.val())
            var oldvalue = parseInt(element.innerHTML)
            console.log(oldvalue)
            element.innerHTML = oldvalue + 1
          }
      });
      
    }

  })

  $(document).ready(function(){
    console.log("testing")
    
    $("#createcomment").click(function(){    
        
        console.log("testing")
            $.ajax({
                type:"POST",
                url: "{% url 'testing:create_comment' %}",
                data: {
                     content:$("#content").val(),
                     post:$("#post").val(),
                     csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function(response){
                    console.log("request sent")
                    toastr["success"]("Commented Successfully");
                    document.getElementById("formid").reset();
                    //$("#comments").append(response["newcomment"])
                    //work(); // this is causing the multi post problem when submit
                }
                
            });
            
    })
})

//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}

</script>

</html>
