<!DOCTYPE html>
<html>
<head>
	{% load static %}
    {% csrf_token %}
    {% load group_tags %}
	 <input type="hidden" id ="groupid" value="{{group.id}}" />
	<title>Settings</title>
  <!-- this link if for importing icons for the post -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="icon" href="images/logo.png" type="image/icon type">
	{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/prof.css'|safe %}"> {% endcomment %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- the this section is concerned with posts end-->
  <!-- this link if for importing icons for the post-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="icon" href="images/logo.png" type="image/icon type">
	<link rel="stylesheet" type="text/css" href="{% static 'css/profyd.css'|safe %}">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="{% static "images/profile/logo.png"|safe %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/sec.css'|safe %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://kit.fontawesome.com/c4254e24a8.js"
    crossorigin="anonymous"></script>
<!-- things concerned with the post-->
<style>
  .ico{
  content: '';
  display: block;
  height: 40px;  /*height of icon */
  width: 40px;  /*width of icon */
  position: absolute;
    /*where to replace the icon */
  top: 0px;
  left: -40px;
    /*background */
  background: #F8E6AE {% static "images/like.png"%} no-repeat 0px 0px;
  
}


</style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head><link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

  <body>
    
    <div class="main-content">
      <!-- Top navbar -->
  
      <!-- Header -->
      <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(images/cp1.JPG); background-size: cover; background-position: center top;">
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-8"></span>
        <!-- Header container -->
        <div class="container-fluid d-flex align-items-center">
          <div class="row">
            <div class="col-lg-7 col-md-10">
              <h1 class="display-2 text-white">Hello {{user.user_name}}</h1>
              <p class="text-white mt-0 mb-5">This is The ({{group.name}}) Group Setting page. You can Change your accept or decline incoming join request, remove users, appoint moderators for the group</p>
              <button type = "button" onclick="history.back()" class="btn btn-info">Back to Group</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Page content -->
      <div class="container-fluid mt--7">
        <div class="row">
          <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
            <div class="card card-profile shadow">
              <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                  <div class="card-profile-image">
                    <a href="#">
                      <img src="{% static group.grouppfp.file_url %}" class="rounded-circle">
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                <div class="d-flex justify-content-between">
                  Moderators
                </div>
              </div>
              <div class="card-body pt-0 pt-md-4">
                <div class="row">
                  <div class="col">
                    <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                      Moderators
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  {% isgroupcreator user.id group.id as is_groupowner %}
                  {% is_group_CorM user.id group.id as is_moderator %}
                  {% for grouprequest in mods %}
                  <div  id="comment-container{{grouprequest.id}}" style="width:50%;">
                    <div class="post-row">
                    <input type="hidden" class="commentid" id="commentid{{grouprequest.id}}" value="{{grouprequest.id}}"/>
                    <div class="user-profile">
                      <a href ="{% url 'main:profile' grouprequest.user.id %}"> <img class = "pfppic" src="{% static grouprequest.user.profile.pfp.file_url|safe %}" style = "border-radius: 50%;width:30px;height:30px;" alt="profile picture"></a>
                        <div>
                           <p>{{grouprequest.user.user_name}}</p>
                           {% comment %} <a href = "{% url 'testing:displaypost' post.id %}" > {% endcomment %}
                           </a>
                        </div>
                      </div>
                      
                          {% if is_groupowner %}
                          <!-- Button trigger modal -->
                          {% comment %} <p>{{post.id}}</p> {% endcomment %}
                          <button class="btn btn-sm btn-info"  data-toggle="modal" data-target="#exampleModalCenter{{mod.id}}" style="float: right;">remove</button>
                          <!-- Modal -->
                          <div class="modal fade" id="exampleModalCenter{{mod.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  Are you sure you want to remove this Moderator
                                </div>
                                <div class="modal-footer">
                                  <button type="button" id="close-{{grouprequest.id}}" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="button" id="removemod{{grouprequest.id}}" class="removemoderator" value="{{grouprequest.id}}" style="padding: 0;border: none;background: none;font-size: 20px;">Delete</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          
                        </div>
                    <div>
                    </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div> 
          </div>
          <div class="col-xl-8 order-xl-1">
            <div class="card bg-secondary shadow">
              <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h3 class="mb-0">Group Settings </h3>
                  </div>
                  <div class="col-4 text-right">
                    {% comment %} <a href="#!" class="btn btn-sm btn-primary">Save</a> {% endcomment %}
                  </div>
                </div>
              </div>
              <div class="card-body">
                <hr class="my-4">
                  <!-- Address -->
                  <h6 class="heading-small text-muted mb-4">Incoming requests</h6>
                  {% for grouprequest in grouprequests %}
                  <div class = "post-container" id="comment-container{{grouprequest.id}}" style="width:50%;">
                    <div class="post-row">
                    <input type="hidden" class="commentid" id="commentid{{grouprequest.id}}" value="{{grouprequest.id}}"/>
                    <div class="user-profile">
                      <a href ="{% url 'main:profile' grouprequest.user.id %}"> <img class = "pfppic" src="{% static grouprequest.user.profile.pfp.file_url|safe %}" style = "border-radius: 50%;width:30px;height:30px;" alt="profile picture"></a>
                        <div>
                           <p>{{grouprequest.user.user_name}}</p>
                           {% comment %} <a href = "{% url 'testing:displaypost' post.id %}" > {% endcomment %}
                           </a>
                        </div>
                      </div>
                       
                          <!-- Button trigger modal -->
                          {% comment %} <p>{{post.id}}</p> {% endcomment %}
                          <button class="btn btn-sm btn-info"  data-toggle="modal" data-target="#aexampleModalCenter{{grouprequest.id}}" style="float: right;">Accept_</button>
                          <!-- Modal -->
                          <div class="modal fade" id="aexampleModalCenter{{grouprequest.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLongTitle">Accept Request</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  Are you sure you want to Accept this Request
                                </div>
                                <div class="modal-footer">
                                  <button type="button" id="close-{{grouprequest.id}}" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="button" id="accept-request{{grouprequest.id}}" class="acceptrequest" value="{{grouprequest.id}}" style="padding: 0;border: none;background: none;font-size: 20px;">Confirm</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Button trigger modal -->
                          {% comment %} <p>{{post.id}}</p> {% endcomment %}
                          <button class="btn btn-sm btn-info"  data-toggle="modal" data-target="#exampleModalCenter{{grouprequest.id}}" style="float: right;">Decline</button>
                          <!-- Modal -->
                          <div class="modal fade" id="exampleModalCenter{{grouprequest.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLongTitle">Decline Request</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  Are you sure you want to Decline this Request
                                </div>
                                <div class="modal-footer">
                                  <button type="button" id="close-{{grouprequest.id}}" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="button" id="decline-request{{grouprequest.id}}" class="declinerequest" value="{{grouprequest.id}}" style="padding: 0;border: none;background: none;font-size: 20px;">Confirm</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                  {% endfor %}
                      <div class="col-lg-6">
                        <div class="form-group focused">
  
                          <div class="bd">
                      
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  
                  
            <hr class="my-4">
                  <!-- Address -->
                  <h6 class="heading-small text-muted mb-4">Group Users</h6>
                    {%for grouprequest in groupusers %}
                    {% is_group_CorM grouprequest.user.id group.id as is_moderatorown %}
                    <div  id="comment-container{{grouprequest.id}}" style="width:50%;">
                      <div class="post-row">
                      <input type="hidden" class="commentid" id="commentid{{grouprequest.id}}" value="{{grouprequest.id}}"/>
                      <div class="user-profile">
                        <a href ="{% url 'main:profile' grouprequest.user.id %}"> <img class = "pfppic" src="{% static grouprequest.user.profile.pfp.file_url|safe %}" style = "border-radius: 50%;width:30px;height:30px;" alt="profile picture"></a>
                          <div>
                             <p>{{grouprequest.user.user_name}}</p>
                             {% comment %} <a href = "{% url 'testing:displaypost' post.id %}" > {% endcomment %}
                             </a>
                          </div>
                        </div>
                         
                            <!-- Button trigger modal -->
                            {% comment %} <p>{{post.id}}</p> {% endcomment %}
                            {% if is_groupowner %}
                            {% if is_moderatorown %}
                            <button class="btn btn-sm btn-info"  data-toggle="modal" data-target="#aasexampleModalCenter{{grouprequest.id}}" style="float: right;">Is Mod</button>
                            {% else %}
                            <button class="btn btn-sm btn-info"  data-toggle="modal" data-target="#aaexampleModalCenter{{grouprequest.id}}" style="float: right;">Make Mod</button>
                            {% endif %}
                            <!-- Modal -->
                            <div class="modal fade" id="aaexampleModalCenter{{grouprequest.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Making User Moderator</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    Are you sure you want to make a moderator
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" id="close-{{grouprequest.id}}" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" id="mod-request{{grouprequest.id}}" class="makemod" value="{{grouprequest.id}}" style="padding: 0;border: none;background: none;font-size: 20px;">Confirm</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          {% endif %}
                          <!-- Button trigger modal -->
                          
                          {% if is_moderatorown == False %}
                            {% comment %} <p>{{post.id}}</p> {% endcomment %}
                            <button class="btn btn-sm btn-info"  data-toggle="modal" data-target="#sexampleModalCenter{{grouprequest.id}}" style="float: right;">Ban</button>
                            <!-- Modal -->
                            <div class="modal fade" id="sexampleModalCenter{{grouprequest.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Removing User From Group</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    Are you sure you want to remove this user
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" id="close-{{grouprequest.id}}" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" id="remove-request{{grouprequest.id}}" class="removeuser" value="{{grouprequest.id}}" style="padding: 0;border: none;background: none;font-size: 20px;">Confirm</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          {% endif %}
                    {% endfor %}
                    <br>
                    
                    {% for grouprequest in banned_users %}
                    {% if forloop.first %}
                    <hr>
                    <p>Banned Users </p>                         
                      {% endif %}
                    <div  id="comment-container{{grouprequest.id}}" style="width:50%;">
                      <div class="post-row">
                      <input type="hidden" class="commentid" id="commentid{{grouprequest.id}}" value="{{grouprequest.id}}"/>
                      <div class="user-profile">
                        <a href ="{% url 'main:profile' grouprequest.user.id %}"> <img class = "pfppic" src="{% static grouprequest.user.profile.pfp.file_url|safe %}" style = "border-radius: 50%;width:30px;height:30px;" alt="profile picture"></a>
                          <div>
                             <p>{{grouprequest.user.user_name}}</p>
                             {% comment %} <a href = "{% url 'testing:displaypost' post.id %}" > {% endcomment %}
                             </a>
                          </div>
                        </div>
                         
                            <!-- Button trigger modal -->
                            {% comment %} <p>{{post.id}}</p> {% endcomment %}
                            <button class="btn btn-sm btn-info"  data-toggle="modal" data-target="#aaexampleModalCenter{{grouprequest.id}}" style="float: right;">UnBan</button>
                            <!-- Modal -->
                            <div class="modal fade" id="aaexampleModalCenter{{grouprequest.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">UnBanning</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    Are you sure you want to un Ban this User
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" id="close-{{grouprequest.id}}" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" id="unban-request{{grouprequest.id}}" class="unban" value="{{grouprequest.id}}" style="padding: 0;border: none;background: none;font-size: 20px;">Confirm</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                         
                    {% endfor %}
                      <div class="col-lg-4">
                      <div class="col-lg-4">
                       
                     
                      </div>
                    </div>
                  </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6 m-auto text-center">
        </div>
      </div>
    </footer>
  </body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
<script>
    $(document).ready(function(){
        console.log("working")
        toastr.options = {
            "closeButton": true,
            "debug": true,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "showDuration": "300",
            "hideDuration": "1000000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
            }
            $(document).on("click",".unban",function(){
              var fbtn = $(this);
              $(fbtn).click(function(){
                  console.log("remove-post ajax called")
                  $.ajax({
                    type:"POST",
                    url: '/main/remove_group_requestban',
                    data: {
                         request_id:fbtn.val(),
                         csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success: function(response){
                      location.reload();
                        //elementfooter.parentNode.removeChild(elementfooter)
                    }
                  });
                });
            });

            $(document).on("click",".makemod",function(){
              console.log("is called delete")
              var fbtn = $(this);
              $(fbtn).click(function(){
                  console.log("remove-post ajax called")
                  $.ajax({
                    type:"POST",
                    url: '/main/make_mod',
                    data: {
                         request_id:fbtn.val(),
                         csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success: function(response){
                      location.reload();
                        //elementfooter.parentNode.removeChild(elementfooter)
                    }
                  });
                });
            });

            $(document).on("click",".declinerequest",function(){
              console.log("is called delete")
              var fbtn = $(this);
              $(fbtn).click(function(){
                  console.log("remove-post ajax called")
                  $.ajax({
                    type:"POST",
                    url: '/main/refuse_group_request',
                    data: {
                         request_id:fbtn.val(),
                         csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success: function(response){
                      location.reload();
                        //elementfooter.parentNode.removeChild(elementfooter)
                    }
                  });
                });
            });
            

            $(document).on("click",".removemoderator",function(){
              console.log("is called delete")
              var fbtn = $(this);
              $(fbtn).click(function(){
                  console.log("remove-post ajax called")
                  $.ajax({
                    type:"POST",
                    url: '/main/remove_mod',
                    data: {
                         request_id:fbtn.val(),
                         csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success: function(response){
                      location.reload();
                        //elementfooter.parentNode.removeChild(elementfooter)
                    }
                  });
                });
            });

            $(document).on("click",".removeuser",function(){
              console.log("is called delete")
              var fbtn = $(this);
              $(fbtn).click(function(){
                  console.log("remove-post ajax called")
                  $.ajax({
                    type:"POST",
                    url: '/main/remove_user_group',
                    data: {
                         request_id:fbtn.val(),
                         csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success: function(response){
                      location.reload();
                        //elementfooter.parentNode.removeChild(elementfooter)
                    }
                  });
                });
            });
            $(document).on("click",".acceptrequest",function(){
              console.log("is called delete")
              var fbtn = $(this);
              $(fbtn).click(function(){
                  console.log("remove-post ajax called")
                  $.ajax({
                    type:"POST",
                    url: '/main/accept_group_request',
                    data: {
                         request_id:fbtn.val(),
                         csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success: function(response){
                      location.reload();
                        //elementfooter.parentNode.removeChild(elementfooter)
                    }
                  });
                });
            });

            $("#change_password").click(function(){
            
                if($("#passwordold").val() != ""&& $("#passwordnew").val() != "" && $("#passwordnewconfirm").val() != ""){
                    if($("#passwordnew").val()==$("#passwordnewconfirm").val()){
                        $.ajax({
                            type:"POST",
                            url: "{% url 'main:change_password' %}",
                            data: {
                                 oldpassword:$("#passwordold").val(),
                                 newpassword:$("#passwordnew").val(),
                                 csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                            },
                            success: function(response){
                                if (response["feedback"] == "success"){
                                    toastr["success"]("Changed Password Successfully");
                                }else{
                                    toastr["error"]("Changing Password Failed try another Password or old password is wrong");
                                }
        
                            }
                        });
                    }else{
                        console.log("empty")
                        toastr["error"]("New Passwords does not match");
                    }
                   
                }
                else{
                    console.log("empty")
                    toastr["error"]("Empty Password Fields");
                }
                    
            })

            $("#change_phonenumber").click(function(){
            
                if($("#new_phonenumber").val() != ""){
                    $.ajax({
                        type:"POST",
                        url: "{% url 'main:change_phonenumber' %}",
                        data: {
                             phonenumber:$("#new_phonenumber").val(),
                             csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                        },
                        success: function(response){
                            if (response["feedback"] == "success"){
                                toastr["success"]("Changed Phone Number Successfully");
                            }else{
                                toastr["error"]("Changing Phone Number Failed try another Phone Number");
                            }
    
                        }
                    });
                }
                else{
                    console.log("empty")
                    toastr["error"]("Empty Phone Number");
                }
                    
            })
            
            $("#create_group").click(function(){
            
              if($("#groupname").val() != "" && $("#groupdesc").val() != ""){
                  $.ajax({
                      type:"POST",
                      url: "{% url 'main:create_group' %}",
                      data: {
                           groupname:$("#groupname").val(),
                           groupdesc:$("#groupdesc").val(),
                           csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                      },
                      success: function(response){
                          if (response["feedback"] == "success"){
                              toastr["success"]("group Created Successfully");
                              $("#groupdesc").val('');
                              $("#groupname").val('');
                          }else{
                              toastr["error"]("Something Wrong Try Checking your Inputs");
                          }
  
                      }
                  });
              }
              else{
                  console.log("empty")
                  toastr["error"]("Empty Fields Detected");
              }
                  
          })   
        $("#change_username").click(function(){
            
                if($("#new_username").val() != ""){
                    $.ajax({
                        type:"POST",
                        url: "{% url 'main:change_username' %}",
                        data: {
                             username:$("#new_username").val(),
                             csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                        },
                        success: function(response){
                            if (response["feedback"] == "success"){
                                toastr["success"]("Changed Username Successfully");
                            }else{
                                toastr["error"]("Changing Username Failed try another User Name");
                            }
    
                        }
                    });
                }
                else{
                    console.log("empty")
                    toastr["error"]("Empty Username");
                }
                    
            })


        $("#change_email").click(function(){
            
            if($("#new_email").val() != ""){
                $.ajax({
                    type:"POST",
                    url: "{% url 'main:change_email' %}",
                    data: {
                         email:$("#new_email").val(),
                         csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success: function(response){
                        if (response["feedback"] == "success"){
                            toastr["success"]("Changed Email Successfully");
                        }else{
                            toastr["error"]("Changing Email Failed try another Email");
                        }

                    }
                });
            }
            else{
                console.log("empty")
                toastr["error"]("Empty Email");
            }
                
        })
    })
</script>
</html>