	 <!--thi is the post -->
     {% load post_tags %}
     {% load static %}
    {% comment %} <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet'> {% endcomment %}
    {% comment %} <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script> {% endcomment %}
    
     <div class="post-container" style="width:50%;" id="post-container{{post.id}}">
       <input type="hidden" id="postid" value="{{post.id}}"/>
       <div>
        <div class="post-row">
          <div class="user-profile">
            <a href ="{% url 'main:profile' post.user.id %}"> <img class = "pfppic" src="{% static post.user.profile.pfp.file_url|safe %}" alt="profile picture"></a>
              <div>
                 <p>{{post.user.user_name}}</p>
                 <a href = "{% url 'testing:displaypost' post.id %}" ><span>{{post.who_can_see}}:</span>
                 <span>{{post.get_timeago}}</span></a>
              </div>
              
          </div>
          
          {% is_post_owner viewer post.id as is_ownerr %}
              {% if is_ownerr %}
              <!-- Button trigger modal -->
              {% comment %} <p>{{post.id}}</p> {% endcomment %}
              <button class="btn btn-sm btn-info"  data-toggle="modal" data-target="#exampleModalCenter{{post.id}}">Del</button>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this post
      </div>
      <div class="modal-footer">
        <button type="button" id="close-{{post.id}}" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="delete-post{{post.id}}" class="delete" value="{{post.id}}" style="padding: 0;border: none;background: none;font-size: 20px;">Delete</button>
      </div>
    </div>
  </div>
</div>
              {% endif %}
        </div>
          <p class="post-text"><b>{{post.text_content}}</b></p>

          {% for postfile in  post.postfiles %}
        
          {% comment %} <p>{{postfile.file_type}}</p> {% endcomment %}
          {%if postfile.file_type == "image" %}
              <img loading="lazy" src="{% static postfile.file_url|safe %}" alt="post picture" style="width:100%">
          {% elif postfile.file_type == "video" %}
              <video loading="lazy" style="width:100%;" controls>
                  <source src="{% static postfile.file_url|safe %}" type="video/mp4">
              </video>
          {% elif postfile.file_type == "audio" %}
              <audio loading="lazy" controls autoplay>
                  <source src="{% static postfile.file_url|safe %}" type="audio/mpeg">
                Your browser does not support the audio element.
              </audio>
          {% else %}
          {% endif %}
      {% endfor %}
      <hr>
        <div class="post-row">
           <div class="activity-icons">
             <div id="post{{post.id}}">
               {% is_user_reacted_post viewer post.id as is_liked %}
               {% if is_liked %}
               <button class="unlike" id="like{{post.id}}" value="{{post.id}}"  title="dislike" style="padding: 0;border: none;background: none;font-size: 20px;" > <span  id="like{{post.id}}span" class="bi bi-hand-thumbs-up-fill" style="color:#11C9EA"></button><p id="num{{post.id}}">{{post.get_reactions}}</p></div>
               {% else %} 
               <button class="like" id="like{{post.id}}" value="{{post.id}}" style="padding: 0;border: none;background: none;font-size: 20px;" > <span  id="like{{post.id}}span" class="bi bi-hand-thumbs-up-fill" style="color:None"></button><p id="num{{post.id}}">{{post.get_reactions}}</p></div>
               {% endif %}
             <div ><img src="{% static 'images/profile/comments.png' |safe %}"> <span id="commentnumber">{{post.comment_number}}</span></div>
             {% comment %} <div><img src="{% static 'images/profile/share.png' %}"> </div> {% endcomment %}
           </div>
        </div>
      </div>
        
     </div>
     <br id = "post-footer{{post.id}}">
		 
     
    