<head>
    <style>
        .pfppic{
            border-radius: 50%;
            width: 50px;
            height: 50px;
            margin:left;
            float:left;
        }
        border-radius{
            size:25px;
        }
        a {text-decoration: none;}
            
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
{% load static %}
{% block postcontent %}
    {% if post == None %}
        <p> You are not permitted to see this post </p>
    {% else %}
    <a href ="{% url 'main:profile' post.user.id %}"> <img class = "pfppic" src="{% static post.user.profile.pfp.file_url|safe %}" alt="profile picture"></a>
    <div></div><span>{{post.user.user_name}}</span>
    <a href ="{% url 'testing:displaypost' post.id %}" style="text-decoration: none;">
    <p class="small">{{post.who_can_see}} {{post.get_timeago}}</p
    <p class="title">{{post.text_content}}</p>
    <p>
        {% for postfile in  post.postfiles %}
        
            <p>{{postfile.file_type}}</p>
            {%if postfile.file_type == "image" %}
                <img src="{% static postfile.file_url|safe %}" alt="post picture" style="width:100%">
            {% elif postfile.file_type == "video" %}
                <video width="620" height="440" controls>
                    <source src="{% static postfile.file_url|safe %}" type="video/mp4">
                </video>
            {% elif postfile.file_type == "audio" %}
                <audio controls autoplay>
                    <source src="{% static postfile.file_url|safe %}" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
            {% else %}
            {% endif %}
            <p>---------------------</p>

        {% endfor %}
    </a>
        {% comment %} commenting for the post here {% endcomment %}
   
         <form id="formid" method="post" >
            {% csrf_token %}
            <textarea name="content" id="content">
            </textarea>
            <input type="hidden" name="post" id="post" value="{{post.id}}"/>
               
           <input class = "inbutton"type="submit" value="Submit">
        </form> 
    
</p>
<p> comments</p>
<div>
    {% for comment in post.get_comments %}
    <div class = "" >
        <p> user name :{{comment.user.username}}</p><p> time : {{comment.get_timeago}}</p><p> {{comment.content}}</p>
    </div>
    <br>
    {% endfor %}
</div>  
<!-- Bootstrap Packaged JS (Bundle) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

{% endif %}
{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 {% comment %} script should be here {% endcomment %}
   <script>
    $(document).ready(function(){
        console.log("testing")
        $("#createcomment").click(function(){    
            console.log("testing")
                $.ajax({
                    type:"POST",
                    url: "{% url 'testing:create_comment' %}",
                    data: {
                         content:$("#content").val(),
                         post:$("#post").val(),
                         csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success: function(response){
                        console.log("request sent")
                        document.getElementById("formid").reset();
                        
                    }
                    
                });
                
        })
    })
    
   </script>
</body>
