	 <!--thi is the post -->
     {% load post_tags %}
     {% load static %}
     <div class="post-container">
        <div class="post-row">
          <div class="user-profile">
            <a href ="{% url 'main:profile' post.user.id %}"> <img class = "pfppic" src="{% static post.user.profile.pfp.file_url|safe %}" alt="profile picture"></a>
              <div>
                 <p>{{post.user.user_name}}</p>
                 <span>{{post.who_can_see}}:</span>
                 <span>{{post.get_timeago}}</span>
              </div>
              
          </div>
          {% is_post_owner viewer post.id as is_owner %}
              {% if is_owner %}
              <button class="btn btn-sm btn-info" style="margin-left: auto;">Del</button>
              {% endif %}
        </div>
          <p class="post-text"><b>{{post.text_content}}</b></p>

          {% for postfile in  post.postfiles %}
        
          {% comment %} <p>{{postfile.file_type}}</p> {% endcomment %}
          {%if postfile.file_type == "image" %}
              <img src="{% static postfile.file_url|safe %}" alt="post picture" style="width:100%">
          {% elif postfile.file_type == "video" %}
              <video style="width:100%;" controls>
                  <source src="{% static postfile.file_url|safe %}" type="video/mp4">
              </video>
          {% elif postfile.file_type == "audio" %}
              <audio controls autoplay>
                  <source src="{% static postfile.file_url|safe %}" type="audio/mpeg">
                Your browser does not support the audio element.
              </audio>
          {% else %}
          {% endif %}
          

      {% endfor %}
      <hr>
        <div class="post-row">
           <div class="activity-icons">
             <div id="post{{post.id}}">
               {% is_user_reacted_post viewer post.id as is_liked %}
              
               
               {% if is_liked %}
               <button class="unlike" id="like{{post.id}}" value="{{post.id}}"  title="dislike" style="padding: 0;border: none;background: none;font-size: 20px;" > <span  id="like{{post.id}}span" class="bi bi-hand-thumbs-up-fill" style="color:#11C9EA"></button><p id="num{{post.id}}">{{post.get_reactions}}</p></div>
               {% else %} 
               <button class="like" id="like{{post.id}}" value="{{post.id}}" style="padding: 0;border: none;background: none;font-size: 20px;" > <span  id="like{{post.id}}span" class="bi bi-hand-thumbs-up-fill" style="color:None"></button><p id="num{{post.id}}">{{post.get_reactions}}</p></div>
               {% endif %}
               
             <div><img src="{% static 'images/profile/comments.png' |safe %}"> {{post.get_comments}}</div>
             {% comment %} <div><img src="{% static 'images/profile/share.png' %}"> </div> {% endcomment %}
           </div>
        </div>

     </div>
		 <br>
     