<!DOCTYPE html>
<html>
<head>
	{% load static %}
    {% csrf_token %}
	 <input type="hidden" id ="userid" value="{{profile.user.id}}" />
	<title>Settings</title>
  <!-- this link if for importing icons for the post-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="icon" href="images/logo.png" type="image/icon type">
	{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/prof.css'|safe %}"> {% endcomment %}
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static "images/profile/logo.png"|safe %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/sec.css'|safe %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
    
<!-- things concerned with the post-->
<style>
  .ico{
  content: '';
  display: block;
  height: 40px;  /*height of icon */
  width: 40px;  /*width of icon */
  position: absolute;
    /*where to replace the icon */
  top: 0px;
  left: -40px;
    /*background */
  background: #F8E6AE {% static "images/like.png"%} no-repeat 0px 0px;
  
}


</style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head><link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

  <body>
    
    <div class="main-content">
      <!-- Top navbar -->
  
      <!-- Header -->
      <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(images/cp1.JPG); background-size: cover; background-position: center top;">
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-8"></span>
        <!-- Header container -->
        <div class="container-fluid d-flex align-items-center">
          <div class="row">
            <div class="col-lg-7 col-md-10">
              <h1 class="display-2 text-white">Hello {{user.user_name}}</h1>
              <p class="text-white mt-0 mb-5">This is your Setting page. You can Change your Username, Password, Email, Etc</p>
              <a href="{% url 'main:profile' user.id %}" class="btn btn-info">View My Profile</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Page content -->
      <div class="container-fluid mt--7">
        <div class="row">
          <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
            {% comment %} <div class="card card-profile shadow">
              <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                  <div class="card-profile-image">
                    <a href="#">
                      <img src="images/pp1.jpeg" class="rounded-circle">
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                <div class="d-flex justify-content-between">
                  <a href="#" class="btn btn-sm btn-info mr-4">Update Profile Picture</a>
                  <a href="#" class="btn btn-sm btn-default float-right">Update Cover Photo</a>
                </div>
              </div>
              <div class="card-body pt-0 pt-md-4">
                <div class="row">
                  <div class="col">
                    <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                      <div>
                        <span class="heading">22</span>
                        <span class="description">Friends</span>
                      </div>
                      <div>
                        <span class="heading">10</span>
                        <span class="description">Photos</span>
                      </div>
                      <div>
                        <span class="heading">89</span>
                        <span class="description">Comments</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <h3>
                    John George<span class="font-weight-light">, 23 YO.</span>
                  </h3>
                  <div class="h5 font-weight-300">
                    <i class="ni location_pin mr-2"></i>Sadat City, Egypt
                  </div>
                  <div class="h5 mt-4">
                    <i class="ni business_briefcase-24 mr-2"></i>Network Engineer & System administrator
                  </div>
                  <div>
                    <i class="ni education_hat mr-2"></i>Faculty of Computer Science - ACU
                  </div>
  
                </div>
              </div>
            </div> {% endcomment %}
          </div>
          <div class="col-xl-8 order-xl-1">
            <div class="card bg-secondary shadow">
              <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h3 class="mb-0">My account</h3>
                  </div>
                  <div class="col-4 text-right">
                    {% comment %} <a href="#!" class="btn btn-sm btn-primary">Save</a> {% endcomment %}
                  </div>
                </div>
              </div>
              <div class="card-body">
                
                  <h6 class="heading-small text-muted mb-4">User information</h6>
                  <div class="pl-lg-4">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group focused">
                          <label class="form-control-label" for="input-username">Username</label>
                          <input type="text" id="new_username" class="form-control form-control-alternative" placeholder="Username" value="">
                          <button id = "change_username" class="btn btn-info">Change</button>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-email">Email address</label>
                          <input id = "new_email" type="email" class="form-control form-control-alternative" placeholder="name@gmail.com">
                          <button id="change_email" class="btn btn-info">Change</button>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group focused">
                          <label class="form-control-label" for="input-first-name">Mobile</label>
                          <input type="text" id="new_phonenumber" class="form-control form-control-alternative" placeholder="Ex: 01XX XXX XXX" value="">
                          <button id="change_phonenumber" class="btn btn-info">Change</button>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group focused">
  
                          <div class="bd">
                              {% comment %} <label for="birthdate">Birthdate:</label>
                              </div>
                              <div class="bdc">
                              <input type="date" id="birthdate" name="birthdate" value="31-Oct-1998" >
   {% endcomment %}
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr class="my-4">
                  <!-- Address -->
                  <h6 class="heading-small text-muted mb-4">Password Changing</h6>
                  <p>password should contain atleast
                      <ul>
                          <li>a number</li>
                          <li>a symbol</li>
                          <li>a Uppercase char</li>
                          <li>be 8 character in length</li>
                      </ul>
                  </p>
                  <div class="pl-lg-4">
                    <div class="row">
                      <div class="col-md-12">
                        {% comment %} <div class="form-group focused">
                          <label class="form-control-label" for="input-address">Password</label>
                          <input id="password" type="password" class="form-control form-control-alternative" placeholder="Your new Password" />
                        </div> {% endcomment %}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-4">
                          <!-- this should be the form to change the passwod-->
                        <div class="form-group focused">
                            <label class="form-control-label" for="input-address">Old Password</label>
                            <input id="passwordold" type="password" class="form-control form-control-alternative" placeholder="Your new Password" />
                          </div>
                          <div class="form-group focused">
                            <label class="form-control-label" for="input-address">New Password</label>
                            <input id="passwordnew" type="password" class="form-control form-control-alternative" placeholder="Your new Password" />
                          </div>
                          <div class="form-group focused">
                            <label class="form-control-label" for="input-address">Confirm Password</label>
                            <input id="passwordnewconfirm" type="password" class="form-control form-control-alternative" placeholder="Your new Password" />
                          </div>
                          <button id="change_password" class="btn btn-info">Change</button>
                      <div class="col-lg-4">
                      <div class="col-lg-4">
                       
                     
                      </div>
                    </div>
                  </div>
                  
                  <hr class="my-4">
                 
                  <!-- Description -->
                  {% comment %} <h6 class="heading-small text-muted mb-4">About me</h6> {% endcomment %}
                  {% comment %} <div class="pl-lg-4">
                    <div class="form-group focused">
                      <label>Bio</label>
                      <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ...">John George, 23 YO.
                        Sadat City, Egypt
                        Network Engineer & System administrator
                        Faculty of Computer Science - ACU</textarea>
                    </div>
                  </div>
                </form>
              </div> {% endcomment %}
            </div>
            <hr class="my-4">
                  <!-- Address -->
                  <h6 class="heading-small text-muted mb-4">Create a group</h6>
                  
                  <div class="pl-lg-4">
                    <div class="row">
                      <div class="col-md-12">
                        {% comment %} <div class="form-group focused">
                          <label class="form-control-label" for="input-address">Password</label>
                          <input id="password" type="password" class="form-control form-control-alternative" placeholder="Your new Password" />
                        </div> {% endcomment %}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-4">
                          <!-- this should be the form to change the passwod-->
                        <div class="form-group focused">
                            <label class="form-control-label" for="input-address">Group Name</label>
                            <input id="groupname" type="text" class="form-control form-control-alternative" placeholder="Your Group Name" />
                          </div>
                          <div class="form-group focused">
                            <label class="form-control-label" for="input-address">Description</label> 
                            <textarea id="groupdesc" rows="4" class = "tarea" placeholder="Describe your Group it will enhance it is appearance in Search Results" name="text_content" val=""></textarea>
                          </div>
                          
                          <div class="form-group focused">
                            <label class="form-control-label" for="input-address">Group Privacy</label>
                            <select id="ispublic" class ="btn btn-info" aria-label="who can see" name="who_can_see" required="true">
                              <option value="public">Public</option>
                              <option value="Private">Private</option>  
                              </select> 
                          </div>
                          <button id="create_group" class="btn btn-info">Create</button>
                      <div class="col-lg-4">
                      <div class="col-lg-4">
                       
                     
                      </div>
                    </div>
                  </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6 m-auto text-center">
        </div>
      </div>
    </footer>
  </body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
<script>
    $(document).ready(function(){
        console.log("working")
        toastr.options = {
            "closeButton": true,
            "debug": true,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "showDuration": "300",
            "hideDuration": "1000000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
            }
        

            $("#change_password").click(function(){
            
                if($("#passwordold").val() != ""&& $("#passwordnew").val() != "" && $("#passwordnewconfirm").val() != ""){
                    if($("#passwordnew").val()==$("#passwordnewconfirm").val()){
                        $.ajax({
                            type:"POST",
                            url: "{% url 'main:change_password' %}",
                            data: {
                                 oldpassword:$("#passwordold").val(),
                                 newpassword:$("#passwordnew").val(),
                                 csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                            },
                            success: function(response){
                                if (response["feedback"] == "success"){
                                    toastr["success"]("Changed Password Successfully");
                                }else{
                                    toastr["error"]("Changing Password Failed try another Password or old password is wrong");
                                }
        
                            }
                        });
                    }else{
                        console.log("empty")
                        toastr["error"]("New Passwords does not match");
                    }
                   
                }
                else{
                    console.log("empty")
                    toastr["error"]("Empty Password Fields");
                }
                    
            })

            $("#change_phonenumber").click(function(){
            
                if($("#new_phonenumber").val() != ""){
                    $.ajax({
                        type:"POST",
                        url: "{% url 'main:change_phonenumber' %}",
                        data: {
                             phonenumber:$("#new_phonenumber").val(),
                             csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                        },
                        success: function(response){
                            if (response["feedback"] == "success"){
                                toastr["success"]("Changed Phone Number Successfully");
                            }else{
                                toastr["error"]("Changing Phone Number Failed try another Phone Number");
                            }
    
                        }
                    });
                }
                else{
                    console.log("empty")
                    toastr["error"]("Empty Phone Number");
                }
                    
            })
            
            $("#create_group").click(function(){
              console.log($("#ispublic").val());
              if($("#groupname").val() != "" && $("#groupdesc").val() != ""){
                
                  $.ajax({
                      type:"POST",
                      url: "{% url 'main:create_group' %}",
                      data: {
                           groupname:$("#groupname").val(),
                           groupdesc:$("#groupdesc").val(),
                           ispublic:$("#ispublic").val(),
                           csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                      },
                      success: function(response){
                          if (response["feedback"] == "success"){
                              toastr["success"]("group Created Successfully");
                              $("#groupdesc").val('');
                              $("#groupname").val('');
                              //$("#ispublic").val('');
                          }else{
                              toastr["error"]("Something Wrong Try Checking your Inputs");
                          }
  
                      }
                  });
              }
              else{
                  console.log("empty")
                  toastr["error"]("Empty Fields Detected");
              }
                  
          })   
        $("#change_username").click(function(){
            
                if($("#new_username").val() != ""){
                    $.ajax({
                        type:"POST",
                        url: "{% url 'main:change_username' %}",
                        data: {
                             username:$("#new_username").val(),
                             csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                        },
                        success: function(response){
                            if (response["feedback"] == "success"){
                                toastr["success"]("Changed Username Successfully");
                            }else{
                                toastr["error"]("Changing Username Failed try another User Name");
                            }
    
                        }
                    });
                }
                else{
                    console.log("empty")
                    toastr["error"]("Empty Username");
                }
                    
            })


        $("#change_email").click(function(){
            
            if($("#new_email").val() != ""){
                $.ajax({
                    type:"POST",
                    url: "{% url 'main:change_email' %}",
                    data: {
                         email:$("#new_email").val(),
                         csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success: function(response){
                        if (response["feedback"] == "success"){
                            toastr["success"]("Changed Email Successfully");
                        }else{
                            toastr["error"]("Changing Email Failed try another Email");
                        }

                    }
                });
            }
            else{
                console.log("empty")
                toastr["error"]("Empty Email");
            }
                
        })
    })
</script>
</html>